In [1]:
%load_ext sql

In [2]:
%sql postgresql://user:password@localhost/mywritingdb

In [61]:
%%sql

DROP TABLE IF EXISTS Users CASCADE;

CREATE TABLE Users (
    id UUID DEFAULT gen_random_UUID(),
    user_name VARCHAR(255) NOT NULL,
    pwd VARCHAR(255) NOT NULL,
    createdAt TIMESTAMP DEFAULT now()::TIMESTAMP,
    updatedAt TIMESTAMP DEFAULT now()::TIMESTAMP,
    PRIMARY KEY (id),
    UNIQUE (user_name)
);

 * postgresql://riceuser:***@localhost/mywritingdb
Done.
Done.

[]

In [62]:
%%sql

DROP FUNCTION IF EXISTS insert_user_func
    (input_user_name VARCHAR, input_pwd VARCHAR);

CREATE OR REPLACE FUNCTION insert_user_func
    (input_user_name VARCHAR, input_pwd VARCHAR)
RETURNS TABLE (new_id TEXT)
AS $$
    DECLARE
        output_id TEXT;
    BEGIN
        SELECT id INTO output_id
        FROM Users WHERE user_name = input_user_name;
        IF output_id is null THEN
            INSERT INTO Users
                (user_name, pwd)
            VALUES
                (input_user_name, input_pwd);
        END IF;
        RETURN QUERY
        SELECT id::TEXT AS new_id 
        FROM Users WHERE user_name = input_user_name;
    END $$
LANGUAGE plpgsql
SECURITY DEFINER;

 * postgresql://riceuser:***@localhost/mywritingdb
Done.
Done.

[]

In [63]:
%%sql

DROP FUNCTION IF EXISTS query_user_func
    (input_user_name VARCHAR);
    
CREATE OR REPLACE FUNCTION query_user_func
    (input_user_name VARCHAR)
RETURNS TABLE (user_id TEXT, user_name TEXT, user_pwd TEXT)
AS $$
    BEGIN
        RETURN QUERY
        SELECT u.id::TEXT AS user_id, u.user_name::TEXT AS user_name, u.pwd::TEXT AS user_pwd
        FROM Users AS u
        WHERE u.user_name = input_user_name;
    END $$
LANGUAGE plpgsql
SECURITY DEFINER;

 * postgresql://riceuser:***@localhost/mywritingdb
Done.
Done.

[]

In [66]:
%%sql


SELECT * FROM insert_user_func('harvey', 'password');

 * postgresql://riceuser:***@localhost/mywritingdb
1 rows affected.

[('6c74f0c1-86e2-4063-bc44-e75fee563941',)]

In [99]:
%%sql

SELECT * FROM query_user_func('harvey');

 * postgresql://riceuser:***@localhost/mywritingdb
0 rows affected.

[]

In [103]:
%%sql

DELETE FROM Users;

 * postgresql://riceuser:***@localhost/mywritingdb
3 rows affected.

[]

In [105]:
%%sql

SELECT * FROM users;

 * postgresql://riceuser:***@localhost/mywritingdb
1 rows affected.

[(UUID('49fba95e-5783-4271-8b10-2d2805637d46'), 'harvey', '$2a$10$v2gIXNv7u/VM9zvzK8Xkqec7v8YqRnCZAJqw03gJkfc7w2M0EcnXG', datetime.datetime(2024, 1, 3, 19, 31, 47, 645398), datetime.datetime(2024, 1, 3, 19, 31, 47, 645398))]